---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = await getCollection('projects');
projects.sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout frontmatter={{title: "Home", description: "Developer portfolio"}}>
	<Hero />
	<div class="divider"/>
	<p class="portfolio">포트폴리오</p>
	<section class="projects">
		{projects.map(p => (
			<ProjectCard
				title={p.data.title}
				description={p.data.description}
				thumbnail={p.data.thumbnail}
				techStack={p.data.techStack}
				slug={p.id}
			/>
		))}
	</section>
</BaseLayout>

<style>
	.projects {
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 0 var(--grid-gap);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--grid-gap);
	}

	.divider{
		width: 500px;
		height: 3px;
		background: var(--text-primary);
		border-radius: 2px;
		margin:  auto;
	}

	.portfolio {
		color: var(--accent);
        font-size: 1.1rem;
        margin-top: 4px;
		text-align: center;
		margin: var(--section-padding);
		font-weight: var(--font-weight-bold);
    }

	@media (max-width: 900px) {
		.projects {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (max-width: 600px) {
		.projects {
			grid-template-columns: 1fr;
		}
	}
</style>
